header {
  border-top: 3px solid rgba(255, 0, 0, 0.376);
  border-bottom: 1px solid #cccc;
  max-width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 50px;
  background-color: rgb(251, 250, 250);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  width: 100%;
  height: 100%;
}
.header-left > a img {
  cursor: pointer;
  padding: 0.5rem;
  height: 100% !important;
}
.header-left a {
  height: 100% !important;
}
.header-left {
  width: 300px;
  height: 100%;
  display: flex;
  font-size: 14px;
  color: #cccc;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  > h4 {
    font-weight: 400;
  }
}

.header-middle {
  margin: 0 50px;
  height: 100%;
  flex-grow: 1;
  flex-basis: 1;
  display: flex;
  align-items: center;
}
.header-right {
}
.header-right-container {
  display: flex;
  align-items: center;
  > svg {
    margin: 0 10px;
    color: #acacacee;
  }
  > svg:hover {
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50%;

    color: #000000;
  }
  > :first-child {
    cursor: pointer;
    /* height: 2rem;
    width: 2rem; */
  }
}
.header-search-container {
  flex-grow: 1;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: 1px solid #cccc;
  > svg {
    margin: 0 5px 0 10px;
    cursor: pointer;
    color: #cccc;
  }
  > input {
    border: none;
    width: 100%;
    padding: 0.4rem;
    border-radius: 4px;
  }
  > input:focus {
    outline: none;
  }
  > input::placeholder {
    font-family: inherit;
  }
}

@media screen and (max-width: 768px) {
  .header-middle {
    display: none;
  }
  .header-left {
    > h4 {
      display: none;
    }
  }
}
@media screen and (max-width: 500px) {
  .header-right-container {
    display: flex;
    align-items: center;
    > svg {
      display: none;
    }
  }
}
